body{
    background-image:linear-gradient(120deg,#ff6b6b,#5f27cd);

}

legend
{
color:black;
text-align:center;
font-size: 35px
}

.container {
    width: 375px;
    height: 625px;
    margin-left: 450px;
    margin-top: 65px;
    background-color:olive;
    padding-left: 30px;
    border-style: solid;
    border-color:black;
}

#height, #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
}

#weight-guide{
    margin-left: 75px;
    margin-top: 25px;
}

#results{
    font-size: 25px;
    margin-left: 90px;
    margin-top: 20px;
    color:wheat;
}

button{
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: blue;
    color: #fff;
    font-size: 25px;
}

h1{
    text-align:50%;
    padding-left: 15px;
    padding-top: 25px;
}

footer{
    background-color:black;
    color:white;
    border:1px solid whitesmoke;
    text-align:center;
    }